{% load static %}
<style>
  .hello-msg{
  font-size : 18px;
  color : #fff;
  margin-right : 20px
  }
</style>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-171077497-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-171077497-1');
</script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark " >
  <a href="{% url 'home'  %}"><img src="{% static 'images/elgm.png' %}"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% if request.user.is_staff %}
      <li class="nav-item active">
          <a class="nav-link" href="{% url 'home'  %}">Dashboard </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'team_dashboard' %}">Teams</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'category' %}">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'products' %}">Products</a>
      </li>
      {% else %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'account' %}"> Settings </a>
        </li>
      {% endif %}
    </ul>
  </div>

  <span class="hello-msg"> Hello, {{request.user}}</span>
  <span> <a class="hello-msg" href="{% url 'logout'  %}">Logout</a></span>
</nav>
  </div>