{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-171077497-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-171077497-1');

</script>

<div class="row">
    <div class="col-md-6">
        <div class="card card-body">

            <form action="" method="POST">
                {% csrf_token %}
                {{ form.management_form }}
                {% for field in forms %}
                {{field}}
                <hr>
                {% endfor %}

                <input type="submit" name="Submit">
            </form>

        </div>
    </div>
</div>


{% endblock %}