{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}

{%  include 'accounts/status-team.html' %}
<style>

</style>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-171077497-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-171077497-1');
</script>
<br>

<div class="row">
	<div class="col-md-5">
		<h5>TEAMs:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Create New Team</a>
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Team</th>
					<th>CURRENT JOBS</th>
				</tr>

				{% for team in teams %}
					<tr>
						<td><a class="btn btn-sm btn-info" href="{% url 'team' team.id %}">View</a></td>
						<td>{{team.name}}</td>
						<td>{{team.orders_recieved}}</td>

					</tr>
				{% endfor %}

			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>LAST 5 ORDERS</h5>
		<hr>
		<div class="card card-body">
		<a class="btn btn-primary  btn-sm btn-block" href="">SOMETHING</a>
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Date Ordered</th>
					<th>Status</th>
                    <th>Assign</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>

				{% for order in orders %}
					<tr>
						<td>{{order.product}}</td>
						<td>{{order.date_created}}</td>
						<td>{{order.status}}</td>

                        <td><a class="btn btn-sm btn-info" href="{% url 'assign_order' order.id %}">Assign</a></td>
						<td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Update</a></td>
						<td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Delete</a></td>

					</tr>
				{% endfor %}


			</table>
		</div>
	</div>

</div>

{% endblock %}