{%  extends 'accounts/main.html' %}
{% block content %}
{%  include 'accounts/status.html' %}
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-171077497-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-171077497-1');
</script>
<style>
	#tdstyle{
	font-size : 18px;
  	color : #fff;
	}
</style>
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Note</th>
					<th>Date Orderd</th>
					<th>Status</th>
				</tr>

				{% for order in orders %}

				<tr>
					<td class="tdstyle">{{order.product}}</td>
					<td class="tdstyle" >{{order.note}}</td>
					<td class="tdstyle">{{order.date_created}}</td>
					<td class="tdstyle">{{order.status}}</td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock content %}