{% include 'elgm/navbar.html' %}
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-171077497-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-171077497-1');
</script>
<div class="main_slider_cover">
    <div id="main_slider">
        <div class="slider_item" style="    height: 360px;">
            <div class="slider_content">
                <h2 style="text-transform: uppercase;"> contact us</h2>
            </div>
        </div>
    </div>
    <!--<div class="main_slider_dots"></div>-->
</div>
</header>
<div class="services_page_content">
    <div class="container">
        <h2>contact us</h2>
        <h3>Fill The Form Below and Send Us a Message</h3>
        <div role="form" class="wpcf7" id="wpcf7-f12-p45-o1" lang="en-US" dir="ltr">
            <div class="screen-reader-response"></div>
            <form action="/contact-us/#wpcf7-f12-p45-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                {% csrf_token %}
                <div style="display: none;">
                    <input type="hidden" name="_wpcf7" value="12"/>
                    <input type="hidden" name="_wpcf7_version" value="4.4"/>
                    <input type="hidden" name="_wpcf7_locale" value="en_US"/>
                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f12-p45-o1"/>
                    <input type="hidden" name="_wpnonce" value="022f9c746b"/>
                </div>
                <p>Your Name (required)<br/>
                    <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="{{ form.name }}"

                                                                           size="40"
                                                                           class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                           aria-required="true"
                                                                           aria-invalid="false"/></span></p>
                <p>Your Email (required)<br/>
                    <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value=""
                                                                            size="40"
                                                                            class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                                            aria-required="true" aria-invalid="false"/>{{ form.email }}</span>
                </p>
                <p>Subject<br/>
                    <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value=""

                                                                              size="40"
                                                                              class="wpcf7-form-control wpcf7-text"
                                                                              aria-invalid="false"/>{{ form.subject }}</span></p>
                <p>Your Message<br/>{{ form.message }}
                    <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10"
                                                                                 class="wpcf7-form-control wpcf7-textarea"
                                                                                 aria-invalid="false"></textarea></span>
                </p>
                <p><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit"/></p>
                <div class="wpcf7-response-output wpcf7-display-none"></div>
            </form>
        </div>
    </div>
</div>


<div class="footer">
    <div class="container">
        <div class="col-md-3">
            <h3>quick links</h3>
            <ul class="footer_menu">
                <li><a href="http://elgm.ae">Home</a></li>
                <li><a href="http://elgm.ae/about-us/">About us</a></li>
                <li><a href="http://elgm.ae/service/hard-service/">Our Services</a></li>
                <li><a href="http://elgm.ae/news/">News</a></li>
                <li><a href="http://elgm.ae/careers/">Career</a></li>
                <li><a href="http://elgm.ae/contact-us/">Contact us</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h3>Hard & Soft Services</h3>
            <ul class="footer_menu">

                <li><a href="#">Mechanical and Electrical Maintenance</a></li>
                <li><a href="#">Plumbing Maintenance</a></li>
                <li><a href="#">Air conditioning</a></li>
                <li><a href="#">Civil Refurbishment</a></li>
                <li><a href="#">Interior fit out works</a></li>
                <li><a href="#">Swimming pool maintenance</a></li>
                <li><a href="#">Window glass cleaning</a></li>
                <li><a href="#">Specialized Tile & Stone cleaning</a></li>


            </ul>
        </div>
        <div class="col-md-3">
            <h3>Other Services</h3>
            <ul class="footer_menu">

                <li><a href="http://elgm.ae/service/mep-installaition/">MEP Installation</a></li>
                <li><a href="http://elgm.ae/service/handyman-service/">Handyman Service</a></li>
                <li><a href="http://elgm.ae/service/transition-service/">Transition Service</a></li>
                <li><a href="http://elgm.ae/service/asset-management/">Asset Management</a></li>
                <li><a href="http://elgm.ae/service/on-call-service/">On Call Service</a></li>
                <li><a href="http://elgm.ae/service/facilities-management/">Facilities Management</a></li>
                <li><a href="http://elgm.ae/service/fm-audit/">FM Audit</a></li>


            </ul>
        </div>
        <div class="col-md-3">
            <h3>Contact Us</h3>
            <pre class="contact_pre">
Everest light General Maintenance Co
P.O. Box: 27613
Al Yasat Tower, Floor No: 06,
Office No: 07
Al Najda Street, Abu Dhabi, UAE
Tel: +971 2 6712526
Email: everestlightgm@gmail.com
Website: www.elgm.ae
</pre>

        </div>

        <p style="text-align: center">&copy; copyright 2020 - Elgm.ae All rights reserved</p>
    </div>
</div>
<script type='text/javascript'
        src='http://elgm.ae/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"http:\/\/elgm.ae\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","recaptchaEmpty":"Please verify that you are not a robot.","sending":"Sending ..."};
/* ]]> */

</script>
<script type='text/javascript'
        src='http://elgm.ae/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.4'></script>
<script type='text/javascript'
        src='http://elgm.ae/wp-content/themes/everestlight/js/jquery.min.1.11.1.js?ver=4.4.23'></script>
<script type='text/javascript'
        src='http://elgm.ae/wp-content/themes/everestlight/js/bootstrap.min.js?ver=4.4.23'></script>
<script type='text/javascript'
        src='http://elgm.ae/wp-content/themes/everestlight/js/owl.carousel.min.js?ver=4.4.23'></script>
<script type='text/javascript'
        src='http://elgm.ae/wp-content/themes/everestlight/js/slicknav.min.js?ver=4.4.23'></script>
<script type='text/javascript'
        src='http://elgm.ae/wp-content/themes/everestlight/js/my_slicknav.js?ver=4.4.23'></script>
<script type='text/javascript' src='http://elgm.ae/wp-content/themes/everestlight/js/script.js?ver=4.4.23'></script>
<script type='text/javascript' src='http://elgm.ae/wp-includes/js/wp-embed.min.js?ver=4.4.23'></script>
</body>
</html>