{% load static %}

<!DOCTYPE html>
<html>
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171077497-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-171077497-1');
</script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ELGM &#8211; FM solution in UAE</title>
    <link rel="alternate" type="application/rss+xml"
          title="Everest Light General Maintenance - FM solution in UAE &raquo; Feed" href="https://elgm.ae/feed/"/>
    <link rel="alternate" type="application/rss+xml"
          title="Everest Light General Maintenance - FM solution in UAE &raquo; Comments Feed"
          href="https://elgm.ae/comments/feed/"/>
    <script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"https:\/\/elgm.ae\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.4.23"}};
			!function(a,b,c){function d(a){var c,d,e,f=b.createElement("canvas"),g=f.getContext&&f.getContext("2d"),h=String.fromCharCode;return g&&g.fillText?(g.textBaseline="top",g.font="600 32px Arial","flag"===a?(g.fillText(h(55356,56806,55356,56826),0,0),f.toDataURL().length>3e3):"diversity"===a?(g.fillText(h(55356,57221),0,0),c=g.getImageData(16,16,1,1).data,g.fillText(h(55356,57221,55356,57343),0,0),c=g.getImageData(16,16,1,1).data,e=c[0]+","+c[1]+","+c[2]+","+c[3],d!==e):("simple"===a?g.fillText(h(55357,56835),0,0):g.fillText(h(55356,57135),0,0),0!==g.getImageData(16,16,1,1).data[0])):!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g;c.supports={simple:d("simple"),flag:d("flag"),unicode8:d("unicode8"),diversity:d("diversity")},c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.simple&&c.supports.flag&&c.supports.unicode8&&c.supports.diversity||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);

    </script>
    <style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}

    </style>
    <link rel='stylesheet' id='contact-form-7-css'
          href='https://elgm.ae/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=4.4' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='bootstrap-css'
          href='https://elgm.ae/wp-content/themes/everestlight/css/bootstrap.min.css?ver=4.4.23' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='font-awesome-css'
          href='https://elgm.ae/wp-content/themes/everestlight/css/font-awesome.min.css?ver=4.4.23' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='owl-carousel-css'
          href='https://elgm.ae/wp-content/themes/everestlight/css/owl.carousel.css?ver=4.4.23' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='slicknav-css'
          href='https://elgm.ae/wp-content/themes/everestlight/css/slicknav.css?ver=4.4.23' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='my_slicknav-css'
          href='https://elgm.ae/wp-content/themes/everestlight/css/my_slicknav.css?ver=4.4.23' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='main_css-css' href='https://elgm.ae/wp-content/themes/everestlight/style.css?ver=4.4.23'
          type='text/css' media='all'/>
    <script type='text/javascript' src='https://elgm.ae/wp-includes/js/jquery/jquery.js?ver=1.11.3'></script>
    <script type='text/javascript' src='https://elgm.ae/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
    <link rel='https://api.w.org/' href='https://elgm.ae/wp-json/'/>
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://elgm.ae/xmlrpc.php?rsd"/>
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://elgm.ae/wp-includes/wlwmanifest.xml"/>
    <meta name="generator" content="WordPress 4.4.23"/>
    <link rel="canonical" href="https://elgm.ae/"/>
    <link rel='shortlink' href='https://elgm.ae/'/>
    <style type="text/css">
.menu_logo_cover{
 background: url('https://elgm.ae/wp-content/themes/everestlight/img/menu_bg.png');
}


.slider_item{
 background: url('https://elgm.ae/wp-content/themes/everestlight/img/slider-bg.png');
}

.contact_button_section{
 background: url('https://elgm.ae/wp-content/themes/everestlight/img/slider-bg.png');
}


    </style>
</head>
<body>
<header>
    <div class="menu_logo_cover">
        <div class="container">
            <div class="col-sm-2 logo_container">
                <a href="#"><img class="logo" src="https://elgm.ae/wp-content/themes/everestlight/img/logo.png"/></a>
            </div>
            <div class="col-sm-10">
                <div class="col-md-12 top_contact"><span class="social_icons"><a href="#"><i
                        class="fa fa-facebook-square fa fw"></i></a><a href="#"><i
                        class="fa fa-twitter-square fa fw"></i></a></span><i class="fa fa-phone fa-fw"></i> CALL US :
                    +971 2 6712526
                </div>
                <div class="col-md-12 menu_cover">
                    <div class="menu-main_menu-container">
                        <ul id="menu-main_menu" class="menu">
                            <li id="menu-item-8"
                                class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-4 current_page_item menu-item-8">
                                <a href="https://elgm.ae/">home</a></li>
                            <li id="menu-item-44"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-44"><a
                                    href="https://elgm.ae/about-us/">about us</a></li>
                            <li id="menu-item-39"
                                class="menu-item menu-item-type-post_type menu-item-object-service menu-item-39"><a
                                    href="https://elgm.ae/service/hard-service/">our services</a></li>
                            <li id="menu-item-78"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-78"><a
                                    href="https://elgm.ae/news-2/">News</a></li>
                            <li id="menu-item-82"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-82"><a
                                    href="https://elgm.ae/completed-projects/">Completed projects</a></li>
                            <li id="menu-item-56"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-56"><a
                                    href="https://elgm.ae/careers/">careers</a></li>
                            <li id="menu-item-47"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47"><a
                                    href="{% url 'contact-us' %}">contact us</a></li>
                            <li id="menu-item-49"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49"><a
                                    href="{% url 'logon' %}">login</a></li>

                        </ul>
                    </div>
                    <div class="menu-mobile"></div>
                </div>
            </div>
        </div>
    </div>
    </header>
</html>